@import url('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css');

:root {
	--navbar-height: auto;
}

input.session-date {
	position: relative;
	overflow: hidden;
}

input.session-date::-webkit-calendar-picker-indicator {
	display: block;
	top: 0;
	left: 0;
	background: #0000;
	position: absolute;
	transform: scale(12);
	cursor: pointer;
	width: 100%;
}
